/*************************************************** css variables ***************************************************/
:root {
    --perspective-clr-1: #aed8e6;
    --perspective-clr-2: #a4a9d8;
    --perspective-clr-3: #282973;
    --perspective-aclr-1: #f20ad5;
    --perspective-aclr-2: #333333;
    --perspective-aclr-3: #d861d8;
    --primary-clr-1: #fff;
    --primary-clr-2: #f4f9f9;
    --primary-clr-3: #7b93c1;
    --primary-clr-4: #000;
    --primary-clr-5: #fcf5f0;
    --primary-clr-6: #cd9a45;
    --primary-clr-7: rgba(52, 79, 86, .6);
    --accent-clr-1: #f20ad5;
    --accent-clr-2: #d861d8;
    --text-clr-1: #333;
    --border-radius: 8px;
    --border: 2px inset #aed8e6;
    --dot-border: 2px dotted var(--perspective-clr-3);
    --border-dot: 2px dotted var(--perspective-clr-3);
    --box-shadow: 5px 5px 6px hsla(218, 31%, 80%, 0.6);
    --background-clr: rgba(0, 0, 0, 0.4);
    --bg-clr-1: #111;
    --bg-clr-2: #eee;
    --ff-Unna: Unna;
    --ff-Unna-b: Bold;
    --ff-Unna-i: Italic;
    --f-sz: calc(11px + (18 - 11) * ((100vw - 400px) / (940 - 400)));
    --transition: all ease .5s;
}


/******************************************************* desktop *******************************************************/

@media only screen and (max-width: 2000px){
    /******************************************************* toggle dark/light mode *******************************************************/
    
        body.light-mode {
            background-color: var(--bg-clr-2);
            color: var(--bg-clr-1);

            .hamburger {
            background-color: var(--bg-clr-2);
            color: var(--bg-clr-1);
            }

        .btn-toggle-dark {
            background: var(--primary-clr-1);
            color: var(--accent-clr-1);
            }

            .learn-section-1 {
                border-top: 1px solid var(--bg-clr-1);
                border-bottom: 1px solid var(--bg-clr-1);
            }

            .chevron {
                background-color: var(--bg-clr-2);
                color: var(--bg-clr-1);
            }

            .chevron:hover {
                background: var(--accent-clr-1);
                color: var(--bg-clr-2);
            }

            .closeBtn {
                background-color: var(--bg-clr-2);
                color: var(--bg-clr-1);
            }

            .project-header {
                    border-bottom: .110rem solid var(--bg-clr-1);
            }
        } */

/******************************************************* header *******************************************************/

    .project-header {
        border-bottom: .110rem solid rgba(0, 0, 0, 0.7);
    }

    .project-body {
        position: relative;
    }

    .btn-dark-mode {
        position: absolute;
        top: 20%;
        left: 1.5%;
        background: var(--primary-clr-1);
        color: var(--accent-clr-1);
        border-radius: 8px;
        border: .15rem solid rgba(255, 255, 255, 0.1);
        font-size:  var(--f-sz);
        padding: .375rem;
    }
    .btn-dark-mode:hover {
        background-color: var(--accent-clr-1);
        color: var(--bg-clr-2);
    }

    .project-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        font-size: var(--f-sz);
        color: var(--accent-clr-1);
        border-bottom: .110rem solid var(--bg-clr-1);
    }
    
   .site-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    #site-nav {
        width: 50%;
    }
    
    .logo {
        width: 50px;
        height: 50px;
        margin: 1rem 0;
    }
/******************************************************* nav section *******************************************************/

.hamburger {
display: none;
}

.first-lv-nav {
display: flex;
justify-content: space-between;
width: 100%;
margin: 0 1.5rem;
cursor: pointer;
}

nav > ul li a {
color: var(--accent-clr-1);
}

.link1 {
display: flex;
flex-direction: column;
text-align: center;
cursor: pointer;
}

.lv-2-link {
display: none;
}

.link1:hover > .lv-2-link {
display:flex;
flex-direction: column;
transition: var(--transition);
padding: 0 .2rem;
}

/******************************************************* main content *******************************************************/

.project-content-wrapper,
.project-content-wrapper-2 {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    padding: 5rem;
    gap: 2rem;
    font-size: var(--f-sz);
}

.site-link {
    color: var(--accent-clr-1);
}

.project-desc-1 {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    place-content: end space-between;
}


.learn-section-1 {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--bg-clr-1);
    border-bottom: 1px solid var(--bg-clr-1);
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.learn-panel-1 {
    display: flex;
    gap: 1rem;
}

.paragraph {
    text-indent: 50px;
}

.hide-panel {
    display: none;
}

.desc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    animation-name: panelopen;
    animation-duration: 2s;
}

.chevron {
    border-radius: 8px;
    border: .15rem solid rgba(255, 255, 255, 0.1);
    font-size:  12px;
    padding: 0 1rem;
    transform: rotate(0deg);
}

.animateChevron {
    transform: rotate(180deg);
    transition: all ease.3s;
}

.chevron:hover {
    background: var(--accent-clr-1);
    color: var(--bg-clr-2);
}

.projectImage-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    width: 100%;
    height: 100%;
    image-rendering: high-quality;
    .project-img {
        -webkit-box-reflect: below 20px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.4));
        border-radius: 8px;
    }
}

.projectImage-section {
    perspective: 700px;
}

.chat-img {
    width: 90%;
    height: 90%;
}

.project-img,
.chat-img {
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4);
    transform: skewX(-5deg);
}

.project-img:hover,
.chat-img:hover {
    transform: scale(1, 1);
    transition: all ease-in-out .2s;
}

@keyframes panelopen {
    from{opacity: 0}
    to{opacity: 1}
}

}

/******************************************************* tablet *******************************************************/

@media only screen and (max-width: 800px) {


/******************************************************* main content *******************************************************/
.project-content-wrapper,
.project-content-wrapper-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.projectImage-section {
    order: 1;
    image-rendering: high-quality;
    .project-img {
        -webkit-box-reflect: below 20px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.4));
        border-radius: 8px;
    }
}


.project-desc-1 {
    order: 2;
}
}

/******************************************************* mobile *******************************************************/
@media  only screen and (max-width: 400px) {

    body.dark-mode {
        background-color:  var(--bg-clr-1);
        color: var(--bg-clr-2);

        .project-header {

            .hamburger {
                background-color: var(--bg-clr-1);
                color: var(--bg-clr-2);
            }

            .closeBtn {
                background-color: var(--bg-clr-1);
                color: var(--bg-clr-2);
            }
        }
    
    
        .btn-toggle-dark {
            background: var(--bg-clr-1);
            color: var(--bg-clr-2);
        }
    
    }
    
        body.light-mode {
            background-color: var(--bg-clr-2);
            color: var(--bg-clr-1);

            .project-header {

                .hamburger {
                background-color: var(--bg-clr-2);
                color: var(--bg-clr-1);
                }

                .closeBtn {
                    background-color: var(--bg-clr-2);
                    color: var(--bg-clr-1);
                }
            }
    
            .btn-toggle-dark {
                background: var(--bg-clr-2);
                color: var(--bg-clr-1);
            }
    
        }

    .project-content-wrapper, 
    .project-content-wrapper-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    .projectImage-section {
        display: flex;
        flex-direction: column;
        .project-img{
            width: 80%;
        }
    }

    .project-desc-1 {
        width: 80%;
    }

    .site-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    
    .project-header {
        flex: 1;
    }
    
    #site-nav {
        width: 90%;
    }
    
    .hamburger {
        display: flex;
        flex-direction: column;
        border: none;
        color: #12366f;
        font-size: 24px;
        font-weight: 600;
        padding: 0;
        transition: all ease-in-out .6s;
        margin-left: .4rem;
        background: transparent
    }
    
    .first-lv-nav {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-right: .5rem;
        cursor: pointer;
    }
    
    [aria-expanded="false"] .close {
        display: none;
    }
    
    [aria-expanded="false"] ~ #site-nav {
        width: 0%;
        overflow: hidden;
        transition: all 0.6s;
    }
    
    [aria-expanded="true"] .open {
        display: flex;
    }
    
    [aria-expanded="true"] ~ #site-nav {
        width: 100%;
    }
    
    [aria-expanded="true"] .open {
        display: none;
    }
    
    [aria-expanded="true"] {
        order: 1;
    }
    
    #site-nav {
        width: 0%;
        overflow: hidden;
        transition: all 0.6s;
    }
    
    .link1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        cursor: pointer;
    }
    
        .logo {
        display: none;
    }
}