/*************************************************** css variables ***************************************************/
:root {
    --perspective-clr-1: #aed8e6;
    --perspective-clr-2: #a4a9d8;
    --perspective-clr-3: #282973;
    --perspective-aclr-1: #f20ad5;
    --perspective-aclr-2: #333333;
    --perspective-aclr-3: #d861d8;
    --primary-clr-1: #fff;
    --primary-clr-2: #f4f9f9;
    --primary-clr-3: #7b93c1;
    --primary-clr-4: #000;
    --primary-clr-5: #fcf5f0;
    --primary-clr-6: #cd9a45;
    --primary-clr-7: rgba(52, 79, 86, .6);
    --accent-clr-1: #f20ad5;
    --accent-clr-2: #d861d8;
    --text-clr-1: #333;
    --border-radius: 8px;
    --border: 2px inset #aed8e6;
    --dot-border: 2px dotted var(--perspective-clr-3);
    --border-dot: 2px dotted var(--perspective-clr-3);
    --box-shadow: 5px 5px 6px hsla(218, 31%, 80%, 0.6);
    --background-clr: rgba(0, 0, 0, 0.4);
    --bg-clr-1: #111;
    --bg-clr-2: #eee;
    --ff-Unna: Unna;
    --ff-Unna-b: Bold;
    --ff-Unna-i: Italic;
    --f-sz: calc(11px + (18 - 11) * ((100vw - 400px) / (940 - 400)));
    --transition: all ease .3s;
}

/******************************************************* desktop *******************************************************/

@media only screen and (max-width: 2000px){
/******************************************************* toggle dark/light mode *******************************************************/
    body.dark-mode {
        background-color:  var(--bg-clr-1);
        color: var(--bg-clr-2);
        /* .hamburger {
            background-color: var(--bg-clr-1);
            color: var(--bg-clr-2);
        } */
        .btn-toggle-dark {
            background: var(--accent-clr-1);
            color: var(--primary-clr-1);
        }
        /* .closeBtn {
            background-color: var(--bg-clr-1);
            color: var(--bg-clr-2);
        } */
        .resume {
            border-bottom: .110rem solid var(--bg-clr-2);
        }
    }
    
        body.light-mode {
            background-color: var(--bg-clr-2);
            color: var(--bg-clr-1);
            /* .hamburger {
            background-color: var(--bg-clr-2);
            color: var(--bg-clr-1);
            } */
            .btn-toggle-dark {
                background: var(--primary-clr-1);
                color: var(--accent-clr-1);
                border-radius: 8px;
                border: .15rem solid rgba(255, 255, 255, 0.1);
                font-size:  var(--f-sz);
                padding: .375rem;
            }
            /* .closeBtn {
                background-color: var(--bg-clr-2);
                color: var(--bg-clr-1);
            } */
            .resume {
                border-bottom: .110rem solid var(--bg-clr-1);
            }
        }
        /******************************************************* header *******************************************************/
        /* .dark-mode {
            background: black;
            color: var(--primary-clr-1);
        } */
    
        /* .btn-dark-mode {
            padding: .375rem;
            color: var(--accent-clr-1);
            background: transparent;
            border-radius: 8px;
            border: .15rem solid rgba(255, 255, 255, 0.1);
            font-size:  var(--f-sz);
        } */
    
        /* .btn-dark-mode:hover {
            background: rgba(255, 255, 255, 0.8);
        } */
    
    
        .resume-body {
            position: relative;
        }
    
        .btn-dark-mode {
            position: absolute;
            top: 10%;
            left: 2.5%;
        }

        .resume-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
            font-size: var(--f-sz);
            color: var(--accent-clr-1);
            width: 100%;
            border-bottom: .110rem solid var(--bg-clr-1);
        }

        
        .site-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
        }
        
        .logo {
            width: 50px;
            height: 50px;
            margin: 1rem 0;
        }
/******************************************************* nav section *******************************************************/

.hamburger {
    display: none;
}

.first-lv-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 1.5rem;
    cursor: pointer;
}

nav > ul li a {
    color: var(--accent-clr-1);
}

.link1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.lv-2-link {
    display: none;
}

.link1:hover > .lv-2-link {
    display:flex;
    flex-direction: column;
    transition: var(--transition);
    padding: 0 .2rem;
}

/******************************************************* main content *******************************************************/

.resume-content {
    display: flex;
    justify-content: center;
    background: red;
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.resume-img {
    display: flex;
    justify-content: center;
    margin: 10% auto;
    width: 700px;
    height: 900px;
    image-rendering: high-quality;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 1px 2px 2px;
}

.img-resume {
    width: 100%;
    height: 100%;
}
}

/******************************************************* tablet *******************************************************/

@media only screen and (max-width: 800px) {
/******************************************************* header *******************************************************/
    /* .dark-mode {
        background: black;
        color: var(--primary-clr-1);
    } */

    .btn-dark-mode {
        padding: .275rem;
        /* color: var(--accent-clr-1);
        background: transparent; */
        border-radius: 8px;
        border: none;
        font-size:  var(--f-sz);
    }

    .resume-header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: .5rem 0rem;
        font-size: var(--f-sz);
        color: var(--accent-clr-1);
        margin: 0 auto;
        width: 100%;
    }

    .site-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .logo {
        width: 50px;
        height: 50px;
        margin-right:3rem;
    }

    .resume-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        image-rendering: high-quality;
        width: 80%;
        margin: 0 auto;
    }
}

/******************************************************* mobile *******************************************************/

@media  only screen and (max-width: 400px) {
    .dark-mode {
        background: black;
        color: var(--primary-clr-1);
    } */
    
    .btn-dark-mode {
        padding: .575rem;
        color: var(--accent-clr-1);
        background: transparent;
        border-radius: 8px;
        border: .15rem solid rgba(255, 255, 255, 0.1);
        font-size:  var(--f-sz);
    }
    
    .btn-dark-mode:hover {
        background: var(--accent-clr-1);
        color: white;
    }
    
    .resume-body {
        position: relative;
    }
    
    .btn-dark-mode {
        position: absolute;
        top: 20%;
        left: 5%;
    }

    
    .resume-img {
        image-rendering: high-quality;
        border: none;
        box-shadow: none;
    }
    
    .img-resume {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2rem 0;
    }

    /* .img-resume {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 50%;
        padding: 4rem;
        margin: 2rem auto;
    } */

    .resume-header {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 0;
        font-size: 18px;
        color: var(--accent-clr-1);
        width: 90%;
    }
    
    .site-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    
    .site-header {
        flex: 1;
    }
    
    #site-nav {
        width: 90%;
    }
    
    .hamburger {
        display: flex;
        flex-direction: column;
        border: none;
        color: #12366f;
        font-size: 24px;
        font-weight: 600;
        padding: 0;
        transition: all ease-in-out .6s;
        margin-left: .4rem;
        background: transparent
    }
    
    .first-lv-nav {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-right: .5rem;
        cursor: pointer;
    }
    
    [aria-expanded="false"] .close {
        display: none;
    }
    
    [aria-expanded="false"] ~ #site-nav {
        width: 0%;
        overflow: hidden;
        transition: all 0.6s;
    }
    
    [aria-expanded="true"] .open {
        display: flex;
    }
    
    [aria-expanded="true"] ~ #site-nav {
        width: 100%;
    }
    
    [aria-expanded="true"] .open {
        display: none;
    }
    
    [aria-expanded="true"] {
        order: 1;
    }
    
    #site-nav {
        width: 0%;
        overflow: hidden;
        transition: all 0.6s;
    }
    
    .link1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        cursor: pointer;
    }
    
    .logo {
    display: none;
    }
    
}
